<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.BeforeclassAfterClass"/>
      <class name="TestNG.AnnotationsExmp1"/>
      <class name="TestNG.OrangeHRMtest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
