<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="code">

<listeners>
<listener class-name="TestNG.Listeners.MyListener"/>



</listeners>
  <test thread-count="5" name="TestlistnersCode">
    <classes>
      <class name="TestNG.Listeners.TestLinstenmers"/>
    </classes>
  </test> <!-- TestlistnersCode -->

</suite> <!-- code -->
